In [20]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
pd.options.display.max_columns = None
warnings.filterwarnings('ignore')
sns.set_style("whitegrid")

In [21]:
#daha önce EDA projesinde titanic verisetiyle çalışmıştık.Temizlenmiş mevcut veriyi yükledim.

df = pd.read_csv("titanic_train.csv")

In [22]:
df.isnull().sum()

Unnamed: 0     0
PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Sex            0
Title          0
Q              0
S              0
dtype: int64

In [23]:
df.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Sex,Title,Q,S
0,0,1,0.0,3,22.0,1,0,A/5 21171,7.2500,1,0,0,1
1,1,2,1.0,1,38.0,1,0,PC 17599,71.2833,0,2,0,0
2,2,3,1.0,3,26.0,0,0,STON/O2. 3101282,7.9250,0,1,0,1
3,3,4,1.0,1,35.0,1,0,113803,53.1000,0,2,0,1
4,4,5,0.0,3,35.0,0,0,373450,8.0500,1,0,0,1

In [24]:
df.columns.to_list()

['Unnamed: 0',
 'PassengerId',
 'Survived',
 'Pclass',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Sex',
 'Title',
 'Q',
 'S']

In [25]:
#1.model

In [27]:
X = df.drop(["Survived","Ticket"],axis=1)
y = df["Survived"]

In [28]:
#one-vs-rest yöntemiyle

In [29]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

In [30]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=300)

In [31]:
log_reg.fit(X_train,y_train)

LogisticRegression()

In [32]:
train_score = log_reg.score(X_train,y_train)
test_score = log_reg.score(X_test,y_test)
print('One-vs-rest', '-'*20, 
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(train_score), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_score), sep='\n')

One-vs-rest
--------------------
Modelin eğitim verisindeki doğruluğu : 0.81
Modelin test verisindeki doğruluğu   : 0.80

In [33]:
# multinomial yöntemiyle

log_reg_mnm = LogisticRegression(multi_class = "multinomial",solver="lbfgs")

log_reg_mnm.fit(X_train,y_train)

train_score_mnm = log_reg_mnm.score(X_train,y_train)
test_score_mnm = log_reg_mnm.score(X_test,y_test)

print('Multinomial (Softmax)', '-'*20, 
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(train_score), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_score), sep='\n')

Multinomial (Softmax)
--------------------
Modelin eğitim verisindeki doğruluğu : 0.81
Modelin test verisindeki doğruluğu   : 0.80

In [34]:
#predicted

predicted_values = np.array([[2,1,3,50,1,0,5000,1,0,0,1]])
print(log_reg.predict(predicted_values))

[1.]

In [35]:
# 2.Model

In [36]:
X = df[["Pclass","Age","Fare","Sex"]]
y = df["Survived"]

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=100)
log_reg2 = LogisticRegression()
log_reg2.fit(X_train,y_train)

train_score = log_reg2.score(X_train,y_train)
test_score = log_reg2.score(X_test,y_test)
print('One-vs-rest', '-'*20, 
      'Modelin eğitim verisindeki doğruluğu : {:.2f}'.format(train_score), 
      'Modelin test verisindeki doğruluğu   : {:.2f}'.format(test_score), sep='\n')

One-vs-rest
--------------------
Modelin eğitim verisindeki doğruluğu : 0.79
Modelin test verisindeki doğruluğu   : 0.80

In [37]:
#predicted

predicted_values = np.array([[1,80,500,1],[1,20,1000,0],[1,40,153.4625,0]])
print(log_reg2.predict(predicted_values))

[0. 1. 1.]